<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "BlogPosting",
      "@id": "{{ page.url | absolute_url }}#article",
      "headline": "{{ page.title | escape }}",
      "description": "{{ page.excerpt | strip_html | truncate: 160 | escape }}",
      "datePublished": "{{ page.date | date_to_xmlschema }}",
      "dateModified": "{% if page.last_modified_at %}{{ page.last_modified_at | date_to_xmlschema }}{% else %}{{ page.date | date_to_xmlschema }}{% endif %}",
      "author": {
        "@id": "{{ site.url }}/#person"
      },
      "publisher": {
        "@id": "{{ site.url }}/#person"
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ page.url | absolute_url }}"
      },
      "image": "{% if page.thumbnail %}{{ page.thumbnail | absolute_url }}{% else %}{{ site.url }}/assets/images/og-image.jpg{% endif %}",
      "keywords": "{{ page.tags | join: ', ' }}",
      "wordCount": "{{ page.content | strip_html | number_of_words }}",
      "inLanguage": "en-GB"
    },
    {
      "@type": "BreadcrumbList",
      "@id": "{{ page.url | absolute_url }}#breadcrumb",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "{{ site.url }}"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "Blog",
          "item": "{{ site.url }}/blog/"
        },
        {
          "@type": "ListItem",
          "position": 3,
          "name": "{{ page.title | escape }}",
          "item": "{{ page.url | absolute_url }}"
        }
      ]
    }
  ]
}
</script>
